
.container {
  font-family: 'Dancing Script';
}

.jumbotron > h1 {
  font-size: 40px;
  padding-bottom: 20px;
}

.jumbotron {
  background-color: #DFF0D8 !important;
  
}

tr:hover {
  background-color: #DFF0D8;
}

#add {
  color: black;
  font-weight: bold;
  background-color: white;
}

.search {
  width: 100%;
}

#searchForm {
  background-color: #EFF8EC;
}

th, tr {
  text-align: center;
}