<html ng-app='stockApp'>
<div class="addStock">
<nav-dir></nav-dir>
<clock></clock>
<form class="form-inline">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="query">
  </div>
  <button type="button" ng-click='lookup()' class="btn btn-default" id="add">Add Stock</button>
</form>
<table class='table' ng-if="companies.length">
  <thead>
    <tr>
      <th>Rank</th>
      <th ng-repeat="(key, value) in companies[0]">{{key}}</th>
      <th>Select</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat='company in companies track by $index'>
      <td>{{$index + 1}}</td>
      <td>{{company.Exchange}}</td>
      <td>{{company.Name}}</td>
      <td>{{company.Symbol}}</td>
      <td>
        <button class="btn btn-success btn-sm" ng-click='selectCompany(company)'>
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
</div>

</html>